module-2/question_2.yaml
id: question_2
namespace: zoomcamp

inputs:
  - id: taxi
    type: SELECT
    displayName: Select Taxi Type
    values: [yellow, green]
    defaults: yellow

  - id: year
    type: SELECT
    displayName: Select Year
    values: ["2019", "2020"]
    defaults: "2019"

  - id: month
    type: SELECT
    displayName: Select month
    values: ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"]
    defaults: "01"

variables:
  file: "{{inputs.taxi}}_tripdata_{{inputs.year}}-{{inputs.month}}.csv"

tasks:
  - id: render_file_name_task
    type: io.kestra.plugin.core.output.OutputValues
    values:
      renderedFileName: "{{ render(vars.file) }}"

outputs:
  - id: output_rendered_file_name
    type: STRING
    value: "{{ outputs.render_file_name_task.values.renderedFileName }}"